@model Goldfinch.Core.ContentTypes.InnerPage

<section class="inner-page">
    <h1>@Model.BaseContentTitle</h1>
    @Model.BaseContentShortDescription
    <editable-area area-identifier="InnerPage" />
</section>