@model Goldfinch.Web.Components.Widgets.Image.ImageWidgetViewModel

@if (Model.ContentItemAsset is null)
{
    <p style="color:red; font-size:60px;">Image not found</p>
}
else
{
    <a href="@Model.ContentItemAsset.Url" target="_blank">
        <figure>
            <img gf-image-asset="@Model.ContentItemAsset" alt="@Model.Description" loading="lazy" />

            @if (!string.IsNullOrWhiteSpace(Model.Description))
            {
                <figcaption aria-hidden="true">@Model.Description</figcaption>
            }
        </figure>
    </a>
}