<rules>
	<rule name="Blog Post KX13 Refresh 2" stopProcessing="true">
		<match url="^blog\/whats-new-in-kentico-xperience-13-refresh-2(/)?$" />
		<action type="Redirect" url="https://goldfinch.netcprev.co.uk/blog/what-s-new-in-kentico-xperience-13-refresh-2" appendQueryString="false" />
	</rule>
	<rule name="Blog Post KX13 Released" stopProcessing="true">
		<match url="^blog\/its-here-kentico-xperience-13-has-been-released(/)?$" />
		<action type="Redirect" url="https://goldfinch.netcprev.co.uk/blog/it-s-here!-kentico-xperience-13-has-been-released" appendQueryString="false" />
	</rule>
</rules>